:root {
    --primary-color: #85bb65;
    --secondary-color: #ffb74d;
    --accent-color-1: #0c1909;
    --accent-color-2: #3e1e1e;
    --background: #85bb6540;
}

* {
    font-family: 'Merriweather Sans', sans-serif;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
    padding: 0 1rem;
}

header, footer, main {
    margin: 0 1rem;
}

header div {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links .active {
    text-decoration: underline var(--secondary-color);
    text-underline-offset: 5px;
}

.nav-links a {
    padding: 5px 0.5rem;
}

.nav-links a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
}

footer {
    display: grid;
    grid-template-columns: auto auto;
}

.copyright {
    padding: 0 1rem;
    align-self: center;
}

.external-links {
    display: flex;
    justify-content: flex-end;
}

footer figure {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    max-width: 125px;
    text-align: center;
}

footer h3 {
    align-self: center;
}

footer img {
    max-width: 50px;
    align-self: center;
}


a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: 'Ysabeau SC', 'Merriweather Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

main {
    background-color: var(--background);
    position: relative;
    padding: 1rem;
    padding-top: 0;
}

.page-title {
    display: grid;
    grid-template-columns: 2% 1fr;
}

main h2 {
    grid-column: 2/3;
    color: var(--accent-color-2);
    background-color: var(--secondary-color);
    width: fit-content;
    /* max-width: 20rem; */
    min-width: 33%;
    padding: 0.5rem 1rem;
}

.no-bullet {
    list-style: none;
}

.color-schema {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

.color-schema h2 {
    grid-column: 1 / 3;
}

.box {
    width: 100px;
    height: 2rem;
    border: 1px solid #aaa;
    margin: 0 0 0 10px;
    align-content: center;
    text-align: center;
}

.primary {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--accent-color-2);
}

.budgeting-info {
    display: flex;
    flex-direction: column;
}

.budgeting-info .row {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    margin: 1rem;
    padding: 0.5rem;
}

.budgeting-info .row:nth-child(2n) {
    flex-direction: row-reverse;
}

.budgeting-info .row p {
    flex-grow: 3;
    flex-basis: auto;
    padding: 1rem;
    align-self: center;
}

.budgeting-info .row img {
    padding: 0.5rem;
    width: 200px;
    height: auto;
    min-width: 200px;
}

th {
    text-align: left;
    background-color: var(--background);
    color: var(--accent-color-1)
}

th:nth-child(odd) {
    width: 45%;
}

th:nth-child(even) {
    width: fit-content;
}

tbody td:nth-child(4) {
    text-align: center;
}

tbody tr:nth-child(even)
{
    background-color: var(--background);
}

#category-table {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
}

#category-table div {
    margin: 1px 1rem 1px 0;
}

#category-table div:nth-child(odd) {
    font-weight: bold;
}

#category-table div:last-child {
    border-top: black 1px solid;
}

#budget-calculator input[type="radio"],
#budget-calculator input[type="checkbox"] {
    margin-right: 1.5rem;
}

#budget-calculator .tithing-box {
    margin: 1rem 0;
}

.tithing-box input[type="number"] {
    border: 0;
}

#budget-calculator fieldset {
    display: grid;
    grid-template-columns: 3fr 1em 1fr;
}

#budget-calculator .expenses {
    grid-template-columns: 0.25fr 3fr 1em 1fr;
}

.income label,
.income input,
.income .symbol,
.expenses label,
.expenses input,
.expenses .symbol {
    border: 1px solid gray;
}

#budget-calculator .symbol {
    border-right: 0;
}

#budget-calculator input {
    border-left: 0;
}

#budget-calculator .labeled-input {
    justify-self: stretch;
}

#budget-calculator .heavy-bottom-border {
    border-bottom: 3px solid gray;
}

.vert {
    writing-mode: sideways-lr;
    text-align: center;

}

.vert-0 {
    grid-row: 2/9;
}

.vert-1 {
    grid-row: 9/14;
}

.vert-2 {
    grid-row: 14/24;
}

.vert-3 {
    grid-row: 24/30;
}

.vert-4 {
    grid-row: 30/40;
}

.vert-5 {
    grid-row: 40/45;
}

.vert-6 {
    grid-row: 45/52;
}

#budget-calculator legend {
    font-size: 1.3rem;
}

.worksheet-heading {
    font-size: 1.1rem;
}

.breakdown {
    display:grid;
    grid-template-columns: 1em 1fr 3em 1em 1fr 3em 1em 1fr;
    margin: 1rem;
}

.breakdown .symbol,
.breakdown .breakdown-value {
    border: 1px solid gray;
}

.breakdown .symbol {
    border-right: 0;
}

.breakdown .breakdown-value {
    border-left: 0;
}

.breakdown .operand {
    text-align: center;
}