:root {
	--primary-color: #004B2E;
	--accent1-color: #CCDE45;
	--secondary-color: #92898A;
	--accent2-color: #E7DFE8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.title-bar {
	color: white;
	background-color: var(--primary-color);
	font-family: "Ranchers", sans-serif;
	display: flex;
	flex-direction: column;
}

.title-bar h1 {
	align-self: center;
}

.title-bar span {
	color: var(--accent1-color);
	font-size: 0.85em;
}

nav {
	display: flex;
	color:white;
	background-color: var(--secondary-color);
	justify-content: space-around;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

nav a:hover {
	text-decoration: underline wavy var(--accent1-color);
}

.active {
	color: var(--accent1-color);
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
	max-width: 1024px;
	margin: 0 auto;
}

footer {
	text-align: center;
	background-color: var(--primary-color);
	color: white;
}

footer .highlight {
	color: var(--accent1-color)
}

.card {
	display: grid;
	grid-template: 5em 1fr / 1fr;
	align-content: center;
	row-gap: 0;
}

.card h2 {
	background-color: var(--primary-color);
	color: white;
	text-align: center;
	border: 1px solid lightgray;
	margin: 1rem 1rem 0 1rem;
	padding: 1rem;
	border-radius: 10px 10px 0 0;
}

.card div {
	border: 1px solid lightgray;
	margin: 0 1rem 1rem 1rem;
	padding: 1rem;
	border-radius: 0 0 10px 10px;
	align-items: stretch;
}

.side-column {
	display: grid;
	grid-template-columns: auto 25%;
	border: none;
	margin: 0;
	padding: 0;
}

.card .side-column img {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}

.side-column h3 {
	text-align: center;
}

.side-column aside {
	width: 30%;
	padding-right: 1em;
	float: left;
	font-style: italic;
	font-size: 0.8em;
}

.side-column img {
	max-width: 100%;
	/* height: auto; */
	border: var(--secondary-color) 1px solid;
}

.dev-resource {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dev-resource ul {
	margin: 0 1em;
	/* padding: 1em; */
}